@model Projekt.Models.UserViewModel

@{
    ViewBag.Title = "UserDetails";
}
<style>
    .col-md-2{
        height:290.91px;
        width: 195px;
    }
</style>
<h2>UserDetails</h2>

@if (ViewBag.message != "")
{
    if (ViewBag.message == "Friend's page")
    {
        <h3 style="color: #fcc60a;">This is your movie buddy's page! Enjoy :)</h3>
    }
    else
    {
    <h3>@ViewBag.message</h3>
    }
}

<div>
    <h4>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

    </dl>
</div>

@if (ViewBag.message != "Friend's page")
{
    <div>
        @Html.ActionLink("Find me my best movie buddy!", "FriendDetails", new { personEmail = Model.Email }, new { @class = "btn btn-default" })
    </div>
}



<div>
    <h5>Liked Movies</h5>
    <div class="row">
        <!--Liked movies-->
        @foreach (var item in Model.LikedMovies)
        {
            if (item.PosterURL != null)
            {
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/Home/Details?imdbID=@item.IMDBID">
                            <img src="@item.PosterURL" alt="@item.Title" style="width:100%">
                            <div class="caption">
                                <p>@item.Title</p>
                            </div>
                        </a>
                    </div>
                </div>
            }

        }
    </div>
    <hr />
    <h5>Watched Movies</h5>
    <div class="row">
        <!--Watches-->
        @foreach (var item in Model.Watches)
        {
            if (item.PosterURL != null)
            {
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="/Home/Details?imdbID=@item.IMDBID">
                        <img src="@item.PosterURL" alt="@item.Title" style="width:100%">
                        <div class="caption">
                            <p>@item.Title</p>
                        </div>
                    </a>
                </div>
            </div>
            }
        }
    </div>
    <hr />
    <h5>Want to Watch Movies</h5>
    <div class="row">
        <!--Wants-->
        @foreach (var item in Model.Wants)
        {
            if (item.PosterURL != null)
            {
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="/Home/Details?imdbID=@item.IMDBID">
                        <img src="@item.PosterURL" alt="@item.Title" style="width:100%">
                        <div class="caption">
                            <p>@item.Title</p>
                        </div>
                    </a>
                </div>
            </div>
            }
        }
    </div>   
</div>
<div>
    <h5>Profile</h5>
    <p class="text-info">
        These here are calculated based on your facebook info.
    </p>
    <!--Fav Actors-->
    @Html.DisplayNameFor(model => model.FavActors)
    <ul>
        @foreach (string item in Model.FavActors)
        {
            <li>@item</li>
        }
    </ul>
    
    <!--Genres-->
    @Html.DisplayNameFor(model => model.FavGenres)
    <ul>
        @foreach (string item in Model.FavGenres)
        {
            <li>@item</li>
        }
    </ul>

    <!--Directors-->
    @Html.DisplayNameFor(model => model.FavDirectors)
    <ul>
        @foreach (string item in Model.FavDirectors)
        {
            <li>@item</li>
        }
    </ul>

</div>
