@model PagedList.IPagedList<Projekt.Models.MovieViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Recommended";
}

<h2>Welcome</h2>

<!--<table class="table">
@*    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosterURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMDBID)
        </th>
        <th></th>
    </tr>

@//foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PosterURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMDBID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
    *@
-->

<div class="row">
@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/Home/Details/@item.IMDBID">
                <img src="@item.PosterURL" alt="@item.Title" style="width:100%">
                <div class="caption">
                    <p>@item.Title</p>
                </div>
            </a>
        </div>
    </div>
}    
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
