@model PagedList.IPagedList<Projekt.Models.MovieViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Recommended";
}

<h2>Welcome</h2>

<div class="row">
@foreach (var item in Model)
{
    if (item.PosterURL != null)
    {
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/Home/Details?imdbID=@item.IMDBID">
                <img src="@item.PosterURL" alt="@item.Title" style="width:100%">
                <div class="caption">
                    <p>@item.Title</p>
                </div>
            </a>
        </div>
    </div>    
    }
}    
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
