@model IEnumerable<Projekt.Models.SimpleMovieViewModel>

@{
    ViewBag.Title = "RecommendResults";
}

<script type="text/javascript" src="/Scripts/Pagination.js"></script>

<h2>The results are in</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 @item.htmlClass pagedEl">
            <div class="thumbnail">
                <a href="/Home/Details?imdbID=@item.IMDBID">
                    <img src="@item.PosterURL" alt="@item.Title" style="width:100%">
                    <div class="caption">
                        <p>
                            @item.Title
                        </p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

<div class="pagination-container">
    <ul class="pagination">
        @if (Model.Count() > 0)
        {
            for (int i = 1; i < Convert.ToInt32(Model.Last().htmlClass); i++)
            {
                <li class="btn-default btn pagingIndex">@i</li>
            }
        }        
    </ul>
</div>