@model Projekt.Models.RecommendViewModel

@{
    ViewBag.Title = "Recommend";
}

<script type="text/javascript" src="/Scripts/GiantHat.js"></script>
<style>
    .Profile, .Friends, .Community {
        cursor: pointer;
    }
    .Profile:hover, .Friends:hover, .Community:hover{
        color: #fcc60a;
    }
    

</style>
<link href="~/Content/range-slider.css" rel="stylesheet">


<h2>Recommend</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div  class="Profile">
            <h3>@Html.EditorFor(model => model.Profile) Profile based recommendations</h3>
         </div>
        <p>
            Based on movies you liked on Facebook<br />
            Choose how important each category is (how many of your favourites we take into account)<br />
            Just put zero if you don't care about a category<br />
        </p>
        <div class="ProfileDetails">
            <div class="form-group">
                @Html.LabelFor(model => model.Genres, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                  <div class="range-slider">  
                    <input class="range-slider__range form-control" id="Genres" name="Genres" type="range" value="10" min="0" max="20">  
                    <span class="range-slider__value">0</span>
                    </div>

            </div>
                </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Actors, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                     <div class="range-slider">
                        <input class="range-slider__range form-control" id="Actors" name="Actors" type="range" value="10" min="0" max="20">
                        <span class="range-slider__value">0</span>
                    </div>
                 </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Directors, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="range-slider">
                        <input class="range-slider__range form-control" id="Directors" name="Directors" type="range" value="10" min="0" max="20">
                        <span class="range-slider__value">0</span>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="Friends">
            <h3>@Html.EditorFor(model => model.Friends) Friends based recommendations</h3>
        </div>        
        <p>
            Watch movies that your friends liked<br />
            Use the properties below to filter your friends<br />
            Note: CocoaDuck can only search the friends who also use CocoaDuck <br />
            The more friends you invite to join CocoaDuck, the better the recommendations will be :)           
        </p>

        <div class="FriendsDetails">
            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Gender)
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaxAgeDifference, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="range-slider">
                        <input class="range-slider__range form-control" id="MaxAgeDifference" name="MaxAgeDifference" type="range" value="0" min="0" max="50">
                        <span class="range-slider__value">0</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinimalFriendsTogether, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="range-slider">
                        <input class="range-slider__range form-control" id="MinimalFriendsTogether" name="MinimalFriendsTogether" type="range" value="0" min="0" max="100">
                        <span class="range-slider__value">0</span>
                    </div>
               </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinimalMoviesTogether, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="range-slider">
                        <input class="range-slider__range form-control" id="MinimalMoviesTogether" name="MinimalMoviesTogether" type="range" value="0" min="0" max="100">
                        <span class="range-slider__value">0</span>
                    </div>
                </div>
            </div>
        </div>        
        <hr />
        <div class="Community">
            <h3>@Html.EditorFor(model => model.Community) Community based recommendations</h3>
        </div>        
        <p>
            Based on the entire CocoaDuck community<br />
            Use the properties below so we know who to compare you with 
        </p>

        <div class="CommunityDetails hidden">
            <div class="form-group">
                @Html.LabelFor(model => model.GenderComm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.GenderComm)
                        @Html.ValidationMessageFor(model => model.GenderComm, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MaxAgeDifferenceComm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="range-slider">
                        <input class="range-slider__range form-control" id="MaxAgeDifferenceComm" name="MaxAgeDifferenceComm" type="range" value="0" min="0" max="50">
                        <span class="range-slider__value">0</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinimalFriendsTogetherComm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="range-slider">
                        <input class="range-slider__range form-control" id="MinimalFriendsTogetherComm" name="MinimalFriendsTogetherComm" type="range" value="0" min="0" max="100">
                        <span class="range-slider__value">0</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinimalMoviesTogetherComm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="range-slider">
                        <input class="range-slider__range form-control" id="MinimalMoviesTogetherComm" name="MinimalMoviesTogetherComm" type="range" value="0" min="0" max="100">
                        <span class="range-slider__value">0</span>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Recommend me something!" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/range-slider.js"></script>
}

