@model Projekt.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<!-- Include the plugin's CSS and JS: -->
@*<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>*@
@*<style rel="stylesheet" src="~/Content/bootstrap-chosen.css" type="text/css" ></style>*@
<link rel="stylesheet" href="bootstrap.css" />

<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<link href="~/Content/bootstrap-select.css" rel="stylesheet">
<link href="~/Content/range-slider.css" rel="stylesheet">
<link href="~/Content/multirange.css" rel="stylesheet">
@Styles.Render("/Content/css")
<style>
    .range-slider__range.form-control {
        height: 0;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        padding: 3px 12px;
        display:inline-block;
    }
    .range-slider__value{
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(30deg);
        margin: 20px;
    }
    .slider_left{
        margin-left: -15px;
    }
    .slider_right{
        margin-left: -60px;
    }
    .multirange.ghost{
        left: -9%;
    }
    .range-slider__value.inverted:after{
        border-right: 7px solid #fda123;
    }
    .inverted{
        color: #39100a;
        background: #fda123;
        /*-webkit-filter: invert(100%);
        filter: invert(100%);*/
    }
    .range-slider__range.inverted::-webkit-slider-thumb, 
    .range-slider__range.inverted::-moz-range-thumb{
        background: #fda123;
    }
    .range-slider__range.inverted::-webkit-slider-thumb:hover, 
    .range-slider__range.inverted:active::-webkit-slider-thumb,
    .range-slider__range.inverted::-moz-range-thumb:hover,
    .range-slider__range.inverted:active::-moz-range-thumb
     {
        background: #442200;
    }
    .text-info{
        color:#442200;
    }

</style>



<h2>Search</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
            When naming actors and directors split them using comma (,) - for instance:
            John Doe, Jane Doe
        </p>
        <div class="form-group">
            <div class="col-md-1"></div>
            <h4 class="col-md-2">Actors</h4>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Actors, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Actors, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <h4 class="col-md-2">Directors</h4>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Directors, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Directors, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            List<SelectListItem> genresToChoose = ViewBag.genres;
        }
        <div class="form-group">
            <div class="col-md-1"></div>
            <h4 class="col-md-2">Genres</h4>
            <div class="col-md-8">
                @Html.DropDownList("Genres", genresToChoose, htmlAttributes: new { @class = "selectpicker", multiple = "multiple", tabindex = "4" })

            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <h4 class="col-md-2">I have time (in minutes)</h4>
                <div class="col-md-8">
                    <div class="range-slider">
                        <input type="range" multiple="" value="0" min="0" max="350" step="10" class="multirange original range-slider__range form-control">
                        <span class="range-slider__value slider_left">0</span>
                        <input type="range" multiple="" value="350" min="0" max="350" step="10" class="multirange ghost range-slider__range form-control">
                        <span class="range-slider__value slider_right">0</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <h4 class="col-md-2">Year</h4>
                <div class="col-md-8">
                    <div class="range-slider">
                        <input type="range" multiple="" value="1900" min="1900" max="2017" step="1" class="multirange original range-slider__range form-control">
                        <span class="range-slider__value slider_left inverted">0</span>
                        <input type="range" multiple="" value="2017" min="1900" max="2017" step="1" class="multirange ghost range-slider__range form-control">
                        <span class="range-slider__value slider_right inverted">0</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <h4 class="col-md-2">IMDB Rating</h4>
                <div class="col-md-8">
                    <div class="range-slider">
                        <input type="range" id="IMDBRatingFrom" name="IMDBRatingFrom" multiple="" value="0" min="0" max="10" step="0.1" class="multirange original range-slider__range form-control">
                        <span class="range-slider__value slider_left">0</span>
                        <input type="range" id="IMDBRatingTo" name="IMDBRatingTo" multiple="" value="10" min="0" max="10" step="0.1" class="multirange ghost range-slider__range form-control">
                        <span class="range-slider__value slider_right">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <h4 class="col-md-2">Metascore Rating</h4>
                <div class="col-md-8">
                    <div class="range-slider">
                        <input type="range" id="MetascoreRatingFrom" name="MetascoreRatingFrom" multiple="" value="0" min="0" max="100" step="1" class="multirange original range-slider__range form-control">
                        <span class="range-slider__value slider_left inverted">0</span>
                        <input type="range" id="MetascoreRatingTo" name="MetascoreRatingTo" multiple="" value="100" min="0" max="100" step="1" class="multirange ghost range-slider__range form-control">
                        <span class="range-slider__value slider_right inverted">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <h4 class="col-md-2">RottenTomato Rating</h4>
                <div class="col-md-8">
                    <div class="range-slider">
                        <input type="range" id="RottenTomatoRatingFrom" name="RottenTomatoRatingFrom" multiple="" value="0" min="0" max="100" step="1" class="multirange original range-slider__range form-control">
                        <span class="range-slider__value slider_left">0</span>
                        <input type="range" id="RottenTomatoRatingTo" name="RottenTomatoRatingTo" multiple="" value="100" min="0" max="100" step="1" class="multirange ghost range-slider__range form-control">
                        <span class="range-slider__value slider_right">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <h4 class="col-md-2">Facebook Shares</h4>
                <div class="col-md-8">
                    <div class="range-slider">
                        <input type="range" id="FBSharesFrom" name="FBSharesFrom" multiple="" value="0" min="0" max="140000" step="1000" class="multirange original range-slider__range form-control">
                        <span class="range-slider__value slider_left inverted">0</span>
                        <input type="range" id="FBSharesTo" name="FBSharesTo" multiple="" value="140000" min="0" max="140000" step="1000" class="multirange ghost range-slider__range form-control">
                        <span class="range-slider__value slider_right inverted">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <h4 class="col-md-2">Facebook Likes</h4>
                <div class="col-md-8">
                    <div class="range-slider">
                        <input type="range" id="FBLikesFrom" name="FBLikesFrom" multiple="" value="0" min="0" max="176000" step="1000" class="multirange original range-slider__range form-control">
                        <span class="range-slider__value slider_left">0</span>
                        <input type="range" id="FBLikesTo" name="FBLikesTo" multiple="" value="176000" min="0" max="176000" step="1000" class="multirange ghost range-slider__range form-control">
                        <span class="range-slider__value slider_right">0</span>
                    </div>
               </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Show me what you've got!" class="btn btn-default" />
            </div>
        </div>
    </div>
            }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="~/Scripts/range-slider.js"></script>
<script type="text/javascript" src="~/Scripts/multirange.js"></script>
}
